*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  background-color: #e0dcdc;
  font-family: "Raleway", serif;
}

.header{
  display: flex;
}

.box-1{
  height: 600px;
  width: 370px;
  background-color: #c340fe;
  color: #c340fe;
  border-bottom-left-radius: 145px;
  border-bottom-right-radius: 145px;
}

.mobile{
  height: 490px;
  margin-top: 70px;
  border: 10px solid white;
  border-radius: 40px;
  width: 240px;
  position: absolute;
  left: 18%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
}

.mob-head{
  background-color: #c340fe;
  display: flex;
  gap: 10px;
  height: 55px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
}

.less-img{
  height: 15px;
  margin-left: 5px;
}

.box-2{
  display: flex;
  gap: 70px;
  align-items: center;
}

.test{
  display: flex;
  flex-direction: column;
}

.avatar{
  width: 25px;
  display: flex;
  align-items: center;
  margin-left: 0px;
  border-radius: 50px;
  height: 25px;
  border: 3px solid white;
}

.samuel{
  font-size: 11px;
  color: white;
}
.green{
  font-size: 8px;
  color: rgb(230, 230, 230);
}

.dot{
  display: flex;
  flex-direction: row;
}

.dot-icon{
  height: 15px;
  width: 15px;
}

.box-3{
  background-color: #d8d8d8;
  width: 120px;
  padding: 8px;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 8px;
}

.para-1{
  font-size: 8.8px;
  color: hsl(276, 55%, 52%);
  font-weight: 500;
}
.para-2{
  font-size: 8.8px;
  color: hsl(276, 55%, 52%);
  font-weight: 500;
}

.dog{
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 13px;
  margin-right: 10px;
}

.dog-img{
  width: 40px;
  border-radius: 10px;
}

.box-4{
  background-color: #fff;
  padding: 8px;
  border-radius: 15px;
  margin-top: 15px;
  width: 120px;
}

.test-2{
  display: flex;
  justify-content: end;
  margin-right: 8px;
}

.para-3{
  font-size: 10px;
  color: #141414;
  font-weight: 300;
}

.test-3{
  display: flex;
  justify-content: end;
  margin-right: 8px;
}

.box-5{
  background-color: #fff;
  padding: 8px;
  border-radius: 15px;
  margin-top: 11px;
  width: 85px;
}

.para-4{
  font-size: 10px;
  color: #141414;
  font-weight: 300;
}

.box-6{
  background-color: #d8d8d8;
  width: 125px;
  padding: 8px;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 8px;
}

.para-5{
  font-size: 9px;
    color: hsl(276, 55%, 52%);
    font-weight: 500;
}

.box-7{
  background-color: #c340fe;
  width: 180px;
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 11px;
  text-align: center;
}
.test-4{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  display: flex;
  align-items: center;
  
}

.circle{
  border: 1px solid white;
  border-radius: 12px;
  font-size: 10px;
  color: #c340fe;
  width: 10px;
}

.walk-1{
  font-size: 8px;
  color: white;
  font-weight: 300;
}

.price-1{
  color: #fff;
  font-weight: 600;
}

.type-box{
  display: flex;
  justify-content: space-around;
}

.box-8{
  display: flex;
  background-color: #ffff;
  border-radius: 15px;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 210px;
  justify-content: space-between;
}

.type{
  font-size: 11px;
  margin-left: 12px;
  color: #949494;
}

.test-5{
  display: flex;
  align-items: center;
}

.greater{
  display: flex;
  background-color: #3e264f;
  flex-direction: column;
  border-radius: 25px;
  padding: 6px;
  margin-left: 90px;
}

.great-img{
  width: 12px;
}

.second{
  display: flex;
  flex-direction: column;
}

.simple{
  position: absolute;
  color: #332145;
  left: 45%;
  font-weight: 700;
  top: 35%;
}

.para-6{
  position: absolute;
  top: 43%;
  line-height: 20px;
  color: #999999;
  left: 45%;
  width: 350px;
  font-size: 12px;
}

.sec-last{
  display: flex;
}

.last{
  height: 600px;
  width: 370px;
  background-color: #c340fe;
  color: #c340fe;
  border-bottom-left-radius: 145px;
  border-bottom-right-radius: 145px;
  display: flex;
  position: absolu
}